Regression Features and Labels - Practical Machine Learning Tutorial with Python p.3
========

Original video on Sentdex's Youtube Channel: https://www.youtube.com/watch?v=lN5jesocJjk

Support his awesome content: https://www.pythonprogramming.net/

In [25]:
import pandas as pd
import quandl
import math #this is added during the video, we add it at the top for clarity

Code from last time:

In [26]:
df = quandl.get('WIKI/GOOGL')
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume',]]
df['HL_PCT'] = (df['Adj. High']-df['Adj. Close'])/df['Adj. Close'] * 100
df['PCT_change'] = (df['Adj. Close']-df['Adj. Open'])/df['Adj. Open'] * 100
df = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

The forecast column name. This could be changed in the future if you were to reuse the code.

In [27]:
forecast_col = 'Adj. Close'

This will fill spaces in the dataframe that have "NaN" or other errors with a specific value. We don't want to lose the columns that aren't complete. We populate it with a large negative number (-99999) so that they're thrown out as outliers.

In [28]:
df.fillna(-99999, inplace=True)

We're chosing a time interval to forecast out with our stocks. This line creates a window based on the length of our dataframe. In this case, using a value of 0.01 means that we take 1% of our total size, and then use that.We use the math.ceil and int functions to round up to the nearest day and make it an int.

In [29]:
forecast_out = int(math.ceil(0.01*len(df))) #note that he initially starts with 0.1, but finds that it's unsuitable
print("Forecast out in days: "+ str(forecast_out))

Forecast out in days: 35

Let's take a look at the dataframe:

In [30]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

Now we add a label column to include the label. We shift the forecasted stock price to sync with the relevant "current" stock price for that day.

In [33]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [32]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

Now, we use dropna() to drop the rows with non-populated data. We do this for data that has errors.

In [34]:
df.dropna(inplace=True)

In [35]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

That's it for this lesson!
----
On to the next video: https://www.youtube.com/watch?v=r4mwkS2T9aI